body{
    background-color: #efefef;
}
.main{
    background-color:white;
    margin: 13px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
   width: 40px;
    height: 40px;
}
.right_pos{
    float: right;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.question-title{
    margin-top: 25px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}